/******************************************************/
/* Hollow Knight Website - Index style sheet          */
/* Author: Jesús Herrera Sánchez                      */
/* Version 1.0 - 28/11/2022                           */
/*                                                    */
/******************************************************/








/********************** Fonts *************************/

@font-face {font-family: titles;
      src:url('../fonts/TrajanProRegular.ttf');}

@font-face {font-family: texts;
      src:url('../fonts/SourceSansPro-Regular.ttf');}

/****************** General style *********************/

html {scroll-behavior : smooth}

* {
      margin: 0;
      padding: 0;
      box-sizing:border-box;
}
body {background: radial-gradient(circle farthest-corner at 50% 50%, #2c3d68 0%, #000000 100%);
      color: white;
      z-index: -1;
      font-family:texts;}

.title {margin:auto;
      font-size: 6rem;
      font-family:titles;
      font-size:4.5rem;
      text-align:center;
      color: rgb(255, 255, 255);
      text-shadow: 3px 3px 3px black,
                   3px 3px 3px black,
                   -3px 3px 3px black,
                   0px -3px 2px black;
}

h1 {margin:auto;
  padding: 4% 0 3%;
  font-size: 5rem;
}


/*********************** NAVIGATION BAR ***************/

/* Add a black background color to the top navigation */
 /* Add a black background color to the top navigation */
 /* Add a black background color to the top navigation */
 nav {position:sticky;
  top:0;
  z-index:99;
  opacity:0.8;}

.topnav {
      background-color: rgb(205, 205, 205);
      overflow: hidden;
      
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      display: block;
      color: #0F0C23;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.5rem;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Add an active class to highlight the current page DESACTIVADO POR QUE NO LO VOY A PROGRAMAR ASÍ
    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }   */
    
    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
      display: none;
      padding:0;
    } 

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 

/*********************** HERO SECTION *****************/

#hero{

      background-image: url(../images/Background.webp);
      background-repeat: no-repeat;
      height: 92vh;
      background-position: 50%;
      background-size: cover;}

#maintitle {
      font-family:titles;
      font-size:4.5rem;
      text-align:center;
      color: rgb(255, 255, 255);
      text-shadow: 3px 3px 3px black,
                   3px 3px 3px black,
                   -3px 3px 3px black,
                   0px -3px 2px black;
}

#title_image1 {
      width: 30%;
        padding-top: 12%;
        margin:auto;
}

#title_image2 {
      padding-top:1%;
      width: 45%;
      margin:auto;
}

#enterprise_icon {
      position:absolute;
      width:10%;
      right: 5%;
      bottom: 5%;
}

/*********************** SPELLS SECTION ************/

#spellimg {padding:2%;}

.text {
       font-size:1.5rem;
       text-align:center;
       color:white;}


.spellcolumn {
      padding: 4%;
}

.grid {display:grid;
       grid-template-columns: 33% 33% 33%;
       }

.card {box-shadow: 0 4px 8px 0 rgba(79, 74, 97, 0.5); /* Add shadows to create the "card" effect */
       transition: 0.3s;
       padding:10px;;
       }

.card img {
      width:100%;
      filter:sepia();
}

/* On mouse-over, add a deeper shadow */
.card:hover {box-shadow: 0 8px 16px 0 rgba(245, 245, 245, 0.2);
             filter:none;}

.card:hover img {transition:1s;
                 filter:none;}

/* Add some padding inside the card container */
.container {padding: 2px 16px;
            text-align:center;}

/******************** ABILITIES SECTION *****************/


#abilities_text {
      padding-bottom:4%;
}

/******************** SLIDESHOW FROM W3SCHOOLS **********/

/* Slideshow container */
.slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .slideshow_text {
      font-family:titles;
      color: #f2f2f2;
      font-size: 2rem;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
      font-weight: bold;
      text-shadow: 3px 3px 3px black,
                   3px 3px 3px black,
                   -3px 3px 3px black,
                   0px -3px 2px black;
    }
    
    /* Number text (1/4 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

/***************** CHARMS SECTION ***************/


.grid2 {display:grid;
        grid-template-columns: 50% 50%;}

.charmcolumn {padding: 4%;}
.charmcolumn li {margin-bottom:2%;
      font-size:1rem}


#meleelist {
      text-align: left;
      padding: 20px;
      
}


#spellcasterlist {
      text-align: right;
}

.grid3 {display:grid;
  grid-template-columns: 25% 25% 25% 25%;}



/********************** DLCS SECTION ****************/


/************* FLIPCARD FROM W3SCHOOLS ***************/


 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
      background-color: transparent;
      font-family: texts;
      font-size: 1.5rem;
      width:40.5vh;
      height: 59.2vh;
      margin: auto;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }
    
    /* This container is needed to position the front and back side */
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 1.5s;
      transform-style: preserve-3d;
    }
    
    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
      
    }
    
    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    
    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
      background-color: #bbb;
      color: black;
    }
    
    /* Style the back side */
    .flip-card-back {
      color: white;
      transform: rotateY(180deg);
      background-color: rgb(0, 0, 0,0.5);
      background-image: none;
    } 

    #cardtext {
      padding: 20% 2%;
    }

    h3 {margin-top: 8%;}


    /********************* SILKSONG SECTION ***************/


.container2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin: auto;
}

.responsive-iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  transform:translate(-50%,-50%);
  width: 75%;
  height: 75%;
}




/******************************* FOOTER **********************/
footer {background-color: #0F0C23;
        margin-top: -1%;}


.grid4 {display: grid;
        grid-template-columns: 40% 15% 15% 30%;
      }

.footercolumn{
  color:white;
  
  font-size: 1.5rem;}

.footercolumnlink{
  text-align: left;
}

.link{text-decoration:none;
      padding: 10%;
      line-height: 4rem;
      font-weight: bold;
      color:white;
      font-size: 1.5rem;}

.link:hover{color:gray}

.footercolumn img {width:50%;}

                   .fa {
                    position: relative;
                    left: 20%;
                    padding: 15px;  /*************/
                    font-size: 20px; /************/
                    width: 50px;
                    text-align: center;
                    text-decoration: none;
                    margin: 4% 2%;
                    border-radius:50%; /*************/
                  }
                  
            .fa:hover {
                      opacity: 0.7;
                  }
            
            .fa-facebook {
                    background: #3B5998;
                    color: white;
                  }
                  
            .fa-twitter {
                    background: #55ACEE;
                    color: white;
                  }
                  
                  
                  
            .fa-youtube {
                    background: #bb0000;
                    color: white;
                  }
                  
                  .fa-google {
                    background: #dd4b39;
                    color: white;
                  }


/**************************** MEDIA QUERIES *******************************/

@media only screen and (width<=1000px){
  #title_image1 {
    width: 50%;
    padding-top: 12%;
    padding-left:2%;
}

#title_image2 {
    padding-top:1%;
    width: 65%;
    padding-left:1%;
    padding-bottom: 5%;
}

#enterprise_icon {
    position:absolute;
    width:15%;
    right: 5%;
    bottom: 5%;
    
}

.grid {grid-template-columns: 100%;
  }

.grid2 {grid-template-columns: 100%;}

.grid3 {
  grid-template-columns: 50% 50%;
}

.title {font-size:4rem;}
h1 {font-size:4rem;}
.text {font-size:1.5rem;
       padding:2%;}

#meleelist {
        text-align:center;  
  }

#spellcasterlist {
    text-align: center;
    
}

.dlccolumn {padding-bottom:20%;}

.link {font-size:1rem;
       line-height:3rem}

}




@media only screen and (width<=600px){
#title_image1 {
  width: 60%;
  padding-top: 12%;
  padding-left:2%;
}

#title_image2 {
  padding-top:1%;
  width: 75%;
  padding-left:1%;
  padding-bottom: 5%;
}

#enterprise_icon {
  position:absolute;
  width:25%;
  right: 5%;
  bottom: 5%;
  
}
.grid3 {
  grid-template-columns: 100%;
  
}

.title {font-size:3rem;}
h1 {font-size:3rem;}
.text {font-size:1rem;}

.link {font-size:1rem;
  line-height:1.5rem;}

.grid4 {grid-template-columns: 40% 20% 20% 20%;}
}